# Ignore everything in the termux-packages folder
termux-packages/*

termux-packages/output

*.deb


# But don't ignore output.zip
#!output.7z
#!termux-packages/output
#termux-packages/output.zip
!bootstrap-aarch64.zip
